body {
	font-family: sans-serif;
	color: #333;
	font-size: 1rem;
	line-height: 1.4em;
	margin: 0;
	width: 100%;
}

h1 {
	font-size: 2rem;
	line-height: 1.3em;
	text-align: center;

}

p {

	margin-bottom: 1.6em;
	text-align: center;
}

.container {
	width: 100%;
	max-width: 850px;
	margin: auto;
}

.header{
	background: #090587;
	color: white;
	padding: 2rem 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;


}

	.header a{
		color: white;
		text-decoration: none;
	}



.logo {
	width: 30em;
	position: relative;
	right: 2em;
	top: 1em;
	transition: all 0.8s ease-in-out;
	text-rendering: optimizeLegibility;
} 


.navigation ul {

	margin: 0;
	padding: 0;
	list-style: none;	

}


	.navigation ul li{
		display: inline-block;
		float: right;
		letter-spacing: 4px;

		
	}

		.navigation ul li a{
			font-style: normal;
			font-size: 1.6em;
			display: block;
			padding: 0.2rem 1rem;
			transition: all 0.4s linear;
			border-radius: 50px;
		}

			.navigation ul li a:hover{
				background: #D65757;
			}


.main {
	padding-top: 17rem;
}



.footer{
	background: #F0F0F0;
	padding: 1rem 0;
	text-align: center;
	margin-top: 6rem;
	font-style: oblique;
	font-size: 0.7em;

}


@media screen and (max-width: 768px) {

    .logo {
		width: 20em;
		margin-left: 34px;
		margin-bottom: 1em;

    }

    .navigation ul li a{
    	font-style: normal;
    	font-size: 1.2em;
    }

}